<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <i *ngIf="(product.onSale)" class=" fas fa-award"></i>
        &nbsp;
        <strong>{{product.name}}</strong>
        &nbsp;
        ({{product.stockLeft }})
        ({{(product.stockLeft > 0)}})
        <!-- <i  [ngClass]="(product.stockLeft > 0) ? 'fas fa-check green' : 'fas fa-times red'"> &nbsp;</i> -->
        <div *ngIf="(product.stockLeft > 0); else noStock">
          <i class="fas fa-check" style="color:green"> &nbsp;</i>
        </div>
        <ng-template #noStock>
          <i class="fas fa-times" style="color:red"> &nbsp;</i>
        </ng-template>
      </div>
      <nav class="level is-mobile">
        <div style="padding-left: 3rem;">
          <span class="icon is-small">
            <span *ngIf="list" class="money-import">{{product.price | currency}}</span>
            <span *ngIf="!list" class="money-import">{{product.price * quantity | currency}}</span>
          </span>
        </div>
        <div >
          <button *ngIf="list" [disabled]="(product.stockLeft <= 0 ) || (quantity > product.stockLeft) " (click)="addToCart()" class=" button is-primary is-medium">
            <i class="fas fa-shopping-cart"></i>&nbsp;Agregar al Carrito
          </button>
          <input *ngIf="!list" style="display: block;" type="number" class="input" [(ngModel)]="quantity" #ctrl="ngModel"
                    required>

        </div>
      </nav>

    </div>
  </article>
</div>
